@import "src/styles/variables.scss";

@media (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1201px) {
    .container {
        display: flex;
        flex-direction: row;
    }
}

.meta-data-container {
    padding-top: 2rem;
    padding-left: 4rem;
}